<mat-toolbar color="gray" class="navbar">
  <div>
    <!-- <span mat-flat-button>Consultation</span> -->
    <span mat-flat-button><a routerLink="/consultation" routerLinkActive="router-link-active">Consultation</a></span>
    <span mat-flat-button><a routerLink="/create">Création</a></span>
    <span mat-flat-button><a routerLink="/management">Gestion</a></span>
    <span mat-flat-button><a routerLink="/audit">Audit</a></span>
  </div>
  <div>
    <p>Camille DEVERRIERE</p>
  </div>
</mat-toolbar>