<cdk-virtual-scroll-viewport itemSize="20" class="viewport">
  <!-- <div *cdkVirtualFor="let item of items" class="item">{{item}}</div> -->
  <mat-list class="container">
    <div mat-subheader>
      <h2>Critères de filtre</h2>
    </div>
    <mat-list-item>
      <form>
        <mat-form-field>
          <mat-label>
            <mat-icon matPrefix>search</mat-icon>
          </mat-label>
          <input matInput placeholder="Rechercher un scn" value="">
          <!-- <mat-hint>Hint</mat-hint> -->
        </mat-form-field>
      </form>
    </mat-list-item>
    <mat-list-item *cdkVirtualFor="let criterion of criteria">
      <button mat-menu-item [matMenuTriggerFor]="criteriaSub" [matMenuTriggerData]="criterion">
        <span matPrefix>{{criterion.nameCriteria}}</span>
        <mat-icon>navigate_next</mat-icon>
      </button>
    </mat-list-item>
    <mat-divider></mat-divider>
    <div mat-subheader>
      <h2>Sous-critères de filtre</h2>
    </div>
    <mat-list-item *ngFor="let criterion of criteria">
      <button mat-menu-item [matMenuTriggerFor]="criteriaSub" [matMenuTriggerData]="criterion">
        <span matPrefix>{{criterion.nameCriteria}}</span>
        <mat-icon>navigate_next</mat-icon>
      </button>
    </mat-list-item>



  </mat-list>
</cdk-virtual-scroll-viewport>
<button mat-raised-button class="search" (click)="onSearch()">Rechercher</button>



<mat-menu #criteriaSub="matMenu" xPosition="before">
  <ng-template matMenuContent let-sousCriteria="sousCriteria">
    <section class="section">
      <span class="list-section">
        <mat-checkbox class="margin" [checked]="sousCriteria[0].completed" [color]="'primary'"
          [indeterminate]="someComplete(sousCriteria)" (change)="setAll($event.checked, sousCriteria)">
          {{sousCriteria[0].name}}
        </mat-checkbox>
      </span>
      <span class="list-section">
        <ul>
          <li *ngFor="let criteria of sousCriteria, let i = index">
            <mat-checkbox *ngIf="(i != 0)" [(ngModel)]="criteria.completed" [color]="'primary'"
              (ngModelChange)="updateAllComplete(sousCriteria)">
              {{criteria.name}}
            </mat-checkbox>
          </li>
        </ul>
      </span>
    </section>
  </ng-template>
</mat-menu>