.container {
  margin-top: 50px;
}

mat-list-item {
  border-bottom: 0.5px solid #555;
}

.section {
  margin: 20px 0;
}

.margin {
  margin: 0 20px;
}

ul {
  list-style-type: none;
  margin-top: 5px;
  margin-left: -20px;
}

.search {
  margin: 20px;
  padding-inline: 50px;
}

.viewport {
  height: 800px;
  width: 260px;
  border: 0px solid black;
  margin-left: 0px;
}

.item {
  height: 20px;
}