.container {
  margin-top: 20px;
}

mat-list-item {
  border-bottom: 0.5px solid #555;
}

.section {
  margin: 20px 0;
}

.margin {
  margin: 0 20px;
}

ul {
  list-style-type: none;
  margin-top: 5px;
  margin-left: -20px;
}

.search {
  margin: 20px;
  padding-inline: 50px;
}